/* Styles */

@mixin style-primary {
  background-color: var(--bg-primary);
  box-shadow: var(--shadow-primary);
}

@mixin logo-back {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: var(--bg-body);
  font-size: max(calc(2px - 1 * (100vw - 320px) / 1080), 1px);
  position: absolute;
  width: 100vw;
  height: calc(100% + var(--marge-primary) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  color: var(--txt-primary);
  pointer-events: none;
  stroke: currentColor;
  stroke-width: 1em;
  opacity: 0.08;
}