/* Form */

.label {
  font-weight: bold;
  font-size: 0.95em;
  display: block;
  margin-bottom: 0.75em;

  small {
    opacity: 0.5;
    font-weight: normal;
    font-style: italic;
  }

  abbr {
    color: var(--error);
    text-decoration: none;
    cursor: pointer;
  }
}

.input {
  --transition: 0.3s;
  --bg: var(--bg-body-rgb);
  --color: var(--txt-secondary);
  font-size: 1em;
  border-radius: 0.65em;
  background-color: rgba(var(--bg) / 20%);
  color: var(--color);
  display: flex;
  align-items: stretch;

  input,
  select,
  textarea {
    flex: 1;
    color: currentColor;
    border: 0;
    width: 100%;
    padding: 1.1em 1.25em 1.15em;
    background-color: transparent;
    font-family: var(--font-family-main);

    & + svg {
      right: 0;
      left: auto;
    }
  }

  option {
    color: var(--txt-primary);
  }

  svg {
    width: 1em;
    position: absolute;
    height: 100%;
    width: 3em;
    padding: 0 1em;
    pointer-events: none;

    &.show {
      pointer-events: auto;
      transition: var(--transition);

      &:not(:hover) {
        opacity: 0.5;
        cursor: pointer;
        z-index: 5;
      }
    }

    &:first-child {
      left: 0.1em;
    }

    & + * {
      padding-left: 3em;
    }
  }

  input::placeholder {
    color: currentColor;
    opacity: 0.35;
  }

  & + .label {
    margin-top: 1.25em;
  }

  & > span {
    transition: var(--transition);
    position: absolute;
    inset: 0;
    border: 2px solid rgb(var(--bg));
    border-radius: inherit;
    opacity: 0;
    pointer-events: none;
  }

  & > *:focus ~ span,
  & > *:hover ~ span {
    opacity: 0.15;
  }
}

input {
  &[type=radio],
  &[type=checkbox] {
    --size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--size);
    height: var(--size);
    border: solid 1px var(--bg-secondary);
    cursor: pointer;
    border-radius: calc(var(--size) / 6);
    vertical-align: middle;
    top: -1px;
    margin-right: .5ch;

    &:checked {
      border-color: var(--bg-primary);
    }

    &::before {
      content: "";
      inset: 100%;
      background-color: var(--bg-primary);
      position: absolute;
      border-radius: inherit;
    }

    &:checked::before {
      inset: 2px;
    }
  }

  &[type=radio] {
    border-radius: 50%;
  }
}
